/* fonts */
@font-face {
  font-family: "Delius Swash Caps";
  src:
    url("fonts/DeliusSwashCaps-Regular.woff2") format("woff2"),
    url("fonts/DeliusSwashCaps-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");
/* styles */
* {
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  margin: 0;
  padding: 0;
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
}
.imageSection {
  width: 35%;
  height: 100%;
  position: relative;
  display: flex;
}
img {
  width: 100%;
  height: 100%;
  display: flex;
}
.odin {
  background-color: rgba(0, 0, 0, 0.353);
  color: white;
  padding: 8px 0px;
  height: 15%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 120px;
  /* border-radius: 8px;
  outline: 3px solid rgb(237, 222, 211); */
}
.odin > img {
  margin: 4px;
  width: auto;
  height: 15vh;
}
.odin > p {
  font-size: 4rem;
  font-family: "Delius Swash Caps", Arial, Helvetica, sans-serif;
}
.textSection {
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65vw;
}
.pageDescription {
  position: absolute;
  top: 10vh;
  margin-right: 40vh;
  margin-left: 40px;
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  color: rgb(206, 144, 77);
}
.pageDescription + p {
  position: absolute;
  top: 22.5vh;
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 40px;
}
.form {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  margin: 0px;
  position: relative;
  bottom: -20px;
  width: 100%;

  box-shadow: 0px 0px 10px rgb(199, 199, 255);
}
button[type="submit"] {
  position: absolute;
  margin-top: 3vh;
  margin-left: 4vh;
  align-self: flex-start;
  appearance: none;
  height: 40px;
  width: 12vw;
  border-width: 0px;
  border-radius: 8px;
  background-color: rgb(131, 113, 194);
  color: white;
  font-weight: bold;
  font-size: 1rem;
}
button[type="submit"]:hover {
  box-shadow: 0px 0px 10px rgb(131, 113, 194);
  border: 2px solid rgb(109, 68, 255);
  color: rgb(131, 113, 194);
  background-color: white;
}

button + p {
  position: relative;
  top: 15vh;
  margin-left: 4vh;
}
button + p > span > a {
  color: rgb(131, 113, 194);
  font-weight: bold;
  text-decoration: none;
}
form > .inputs {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}
.form > h4 {
  font-size: 1.2rem;
  margin-bottom: 16px;
  margin-left: 40px;
  margin-top: 16px;
}
.odd {
  align-self: flex-start;
  position: relative;
}
.even {
  align-self: flex-end;
  position: relative;
  bottom: 37.2px;
  right: 30vw;
}
form > .inputs > div {
  display: flex;
  flex-direction: column;
}
form > .inputs > div > label {
  font-size: 12px;
  padding-bottom: 2px;
  font-weight: bold;
  color: #6b6c6f;
}
input {
  appearance: none;
  width: 15vw;
  border: 1.6px solid #e5e7eb;
  font-size: 16px;

  border-radius: 4px;
}
input[type="password"]:invalid {
  border-color: rgb(255, 122, 122);
}
input:focus {
  outline: 0px;
  border-width: 1.6px;
  border-color: #0055ff;
  font-size: 16px;
  box-shadow: 0px 1px 1.6px black;
}

a:hover {
  text-decoration: underline;
  color: rgb(204, 157, 247);
}
