@font-face {
    font-family: 'Delius Swash Caps';
    src: url('DeliusSwashCaps-Regular.woff2') format('woff2'),
        url('DeliusSwashCaps-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

